@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

@font-face {
  font-family: "vercetti";
  src: url(./font/vercetti/vercetti-regular-webfont.woff) format("woff"),
    url(./font/vercetti/vercetti-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "aloeverra";
  src: url(./font/aloeverra/aloevera-ovowo-webfont.woff) format("woff"),
    url(./font/aloeverra/aloevera-ovowo-webfont.woff2) format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  background: url(./images/bg.jpg) no-repeat scroll;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

#root {
  margin: 50px;
  max-width: 1900px;
  min-width: 80%;
  min-height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#logo {
  height: 250px;
  width: 250px;
  background-image: url(./images/logo.png);
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0;
}

div#planteUser {
  ::-webkit-scrollbar {
    width: 1rem;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(34, 34, 34);
    border-radius: 100vh;
    height: 20px;
  }
  ::-webkit-scrollbar-corner {
    opacity: 0;
  }
}
